alembic
fastapi[all]
fastapi_users[sqlalchemy]
fastapi_cache
aiosqlite
sqlalchemy
uvicorn
pydantic
pydantic-settings
python-dotenv
asyncpg
celery
redis>=4.2.0
psycopg2-binary
validators
httpx
pytest
pytest-asyncio
asgi-lifespan
